# Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes
.env
.venv
env/
venv/

# Testes e cache
.pytest_cache/
htmlcov/
.coverage

# Ferramentas dev
.mimocode/
.ruff_cache/
.mypy_cache/

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db
